@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --black: #2b2c36;
  --yellow: #ffd600;
  --green: #00a85d;
  --blue: #004ea0;
  --red: #e4010b;
  --white: #dbe8f1;
}

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
}

body {
  background-color: 	#dbe8f1;
  background-image: linear-gradient(to right bottom, #dbe8f1, #e3eaf2, #e9ecf2, #eeeff2, #f2f2f2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}